# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt

# Platform-specific run directories
run-forge
run-neoforge

# Build artifacts
*.jar

# macOS
.DS_Store

# Windows
Thumbs.db

# Maven repository
mcmodsrepo